@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgauth {
  background: url("./assets/auth-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
