@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}
h2 {
  font-size: 30px;
}

.bgauth {
  background: url("./assets/auth-bg-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-circle {
  position: absolute;
  top: -65px;
  left: -24px;
  width: 20%;
}
.chart-card {
  background: #e1e1e1;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: auto;
  canvas {
    /* background: linear-gradient(to bottom, #f7d6fc, #fff); */
    border-radius: 12px;
  }
}
.chartjs-tooltip {
  border-radius: 6px !important;
  font-family: "Poppins", sans-serif;
}
/* loading spinner */
.spinner-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* optional overlay */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #4f46e5; /* Indigo color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card {
  /* background: #e1e1e1; */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 60px 30px 0 30px;
}
.right-arr {
  height: 30px;
  width: 30px;
}
.submit-btn {
  display: flex;
  /* background-color: #4f46e5; */
  padding: 7px 10px;
  border-radius: 12px;
  color: #f3f3f3;
  font-weight: 500;
  width: fit-content;
  img {
    background-color: #f3f3f3;
    border-radius: 50%;
    padding: 5px;
  }
  &:hover {
    scale: 1.05;
    transition: background-color 0.9s ease-in-out;
  }
}
/* Login */

.card-wrap {
  min-width: 900px;
  /* padding: 10%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-cards {
  max-width: 500px;
  width: 100%;
  padding: 5% 0;
}
.inputs {
  border-bottom: 1px solid #9e9e9e;
  margin: 10px 0;
  &:focus {
    border-bottom: 1px solid #4f46e5;
    outline-style: none;
  }
}
.add-job {
  display: flex;
  justify-content: end;
  padding: 3% 30px;
}
.job-form-wrap {
  background-color: #e1e1e1;
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 50px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.🌛 {
  background-color: #2e2e2e;
  border-radius: 45%;
  height: 40px;
  width: 40px;
}
.🌞 {
  background-color: #d0d0d0;
  border-radius: 45%;
  height: 40px;
  width: 40px;
}
.selections {
  background: #4f46e5;
}

@media (max-width: 1080px) {
  .card-wrap {
    min-width: 800px;
  }
}
@media (max-width: 1024px) {
  .job-form-wrap {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .card-wrap {
    min-width: auto;
    margin: 20px;
  }
}
@media (max-width: 700px) {
  .job-form-wrap {
    width: 100%;
  }
}
